h1, p {
  font-family: Lato;
}
html{
  height:100%;
  padding: 0%;
}
body{
  margin:0px;
}
.ima{
  height: 200px;
  width: 350px;
  margin-top:auto;
  margin-left:auto;
  margin-right:auto;
  position: relative;
 left: 0;
 right: 0;
 z-index: 1;
 
}
#body{
  opacity:0.8;
    width:100%;
    min-height: 100vh;
    top:0px;
    left:0px;
    z-index:1000;
  position: relative;
  overflow: hidden;
  padding: 0%;
  margin:0px;
  
}
  div.ima{
  border: 3px solid #4903fc;
 border-radius: 10px;
}
.subtitle{
  margin:auto;
  text-align:center;
  color:#7d27ab;
  text-shadow: #030002;
  font-weight: bold;
  
}
.backgroundimg{
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  
  }
  
